saved_results/*
saved_results/PV_UniModal_env
saved_results/PV_UniModal_env_raw

.DS_Store
samples/.DS_Store

__pycache__
/__pycache__
*.pyc
*.DS_Store
samples/.DS_Store
*.json
/Synthetic__PV_Profiles.egg-info
/Synthetic_PV_Profiles.egg-info
samples/.DS_Store
/dist
/FL_results
*.pkl
.DS_Store
